.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# tools
build/assets/bin/FBX2glTF

# samples
public/assets/webgl/meetmats
public/assets/webgl/fn-509_with_tactical_kit
public/assets/webgl/ground_control_station_for_uav